.main-card-container {
  background-color: #2a8da6!important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color:#c1784b3a;
}

.bg-success, .bg-danger {
  color: white!important;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.final-headline {
  font-size: 38px;
  margin-bottom: 28px;
}

.button-restart {
display: flex;
justify-content: center;
margin-top: 16px;
}